<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Stisla', root_path  %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'St', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fas fa-fire"></i> <span>Dashboard</span>
        <% end %>
      </li>

      <li class="menu-header">Controllers</li>
      <li class="<%= active_nav_item('users', crud_actions) %>">
        <%= link_to users_path, class: "nav-link" do %>
          <i class="fas fa-users"></i> <span>Users</span>
        <% end %>
      </li>
      <%= render 'shared/sidebar_dropdown', title: 'Chats', icon: 'fas fa-comments' do %>
        <li class="<%= active_nav_item('chat_groups', crud_actions) %>">
          <%= link_to chat_groups_path, class: 'nav-link' do %>
            <i class="fas fa-cogs"></i> Config groups
          <% end %>
        </li>
        <% ChatGroup.order(:name).each do |group| %>
          <li class="<%= active_nav_item('chat_messages', 'group', -> { params[:id].to_i == group.id }) %>">
            <%= link_to group.name, group_chat_messages_path(group), class: 'nav-link' %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </aside>
</div>
