<% content_for(:page_title, 'Dashboard') %>

<section class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <h4>Users</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled list-unstyled-border" id="users_list" style="overflow: hidden;outline: none;height: 78vh;">
            <% User.order(online_at: :desc).each do |user| %>
              <% next if user.id == current_user.id %>
              <li class="media" data-id="<%= user.id %>">
                <div class="media-body">
                  <div class="mt-0 mb-1 font-weight-bold"><%= user.name %></div>
                  <% if user.online? %>
                    <div class="text-success text-small font-600-bold user-status">
                      <i class="fas fa-circle"></i> Online
                    </div>
                  <% else %>
                    <div class="text-small font-weight-600 text-muted user-status">
                      <i class="fas fa-circle"></i> Offline
                    </div>
                  <% end %>
                  <% if user.online_at %>
                    <div class="mt-0 mb-1"><small>(<%= time_ago_in_words(user.online_at) %>)</small></div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-9">
      <div class="card chat-box" id="chat_general">
        <div class="card-header">
          <h4>Chat general</h4>
        </div>
        <div class="card-body chat-content" data-controller="scroll" style="overflow: hidden; outline: none; height: 78vh">
          <% ChatMessage.where(to_user_id: nil).order(created_at: :desc).limit(15).reverse.each do |message| %>
            <% box_style = message.user_id == current_user.id ? 'right' : 'left' %>
            <div class="chat-item chat-<%= box_style %>" style="">
              <div class="chat-details">
                <div class="chat-text"><%= message.content %></div>
                <div class="chat-time">
                  <%= message.user.id == current_user.id ? '' : "#{message.user.name}: " %>
                  <%= time_ago_in_words(message.created_at) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card-footer chat-form">
          <%= form_with(model: ChatMessage.new, url: chat_messages_path, local: false, id: 'chat-form') do |f| %>
            <%= f.text_field :content, class: 'form-control', autocomplete: 'off', placeholder: 'type a message' %>
            <%= f.button icon('fas fa-paper-plane'), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
